---
layout: default
title: Jackie Halpern Quilts
description: Behold my quilts
path: home
---

<div
  class="container mx-auto flex flex-col justify-center items-center px-4 mb-8"
>
  <img
    src="{{settings.profile_image}}"
    class="rounded-full border-indigo-500 border-2 mt-4 mb-8 h-48 w-48 object-cover"
    alt="Jackie Halpern"
  />

  <h1 class="w-full">
    <strong
      class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500"
    >
      {{title}}
    </strong>
  </h1>

  <p class="pt-4 pb-8 text-xl">{{settings.description}}</p>

  <section class="container mt-15 w-full grid grid-cols-1 lg:grid-cols-4 gap-4">
    {% set postslist = collections.post %} {% for post in postslist | reverse %}
    <div
      class="bg-gray-50 rounded-md shadow-md transform transition duration-200 ease-in-out hover:scale-105"
    >
      <a href="{{ post.url | url }}">
        <img
          src="{{ post.data.thumbnail | url }}"
          alt="{{post.data.title}}"
          class="object-cover max-h-64 w-full"
        />
        <div class="p-4">
          <h2 class="font-bold text-3xl text-gray-900 mb-2">
            {% if post.data.title %} {{ post.data.title }} {% else %} - {% endif
            %}
          </h2>
          <p class="text-base leading-6 text-gray-500 mb-3">
            <time class="float-right"> {{ post.date | readableDate }} </time>
          </p>
          <p class="text-base leading-6 text-indigo-400 mb-3">
            <b>{{loop.revindex}}</b>
          </p>
        </div>
      </a>
    </div>
    {% endfor %}
  </section>
</div>
