<footer class="text-center py-4 w-full bg-gray-50 border-t border-gray-100">
  <div class="flex justify-between container items-center flex-col lg:flex-row">
    <small class="text-gray-500 text-2xl">
      Follow me on
      <a
        href="https://www.instagram.com/quiltsandcats18/"
        target="_blank"
        class="underline underline-offset-4 text-blue-600 hover:text-blue-800 visited:text-purple-600"
        >Instagram</a
      >
      🧵 🐱
    </small>
    <div class="flex justify-center mt-8 lg:mt-0">
      {% set catslist = collections.cat %} {% for cat in catslist | reverse %}
      <a
        href="{{ cat.url | url }}"
        class="transform transition duration-200 ease-in-out hover:scale-125"
      >
        <img
          src="{{cat.data.thumbnail}}"
          class="rounded-full w-16 h-16 mx-2 object-cover"
        />
      </a>
      {% endfor %}
    </div>
  </div>
</footer>
