<footer
  class="{{ 'fixed' if path == 'home' }} bottom-0 text-center py-4 w-full bg-white border-t border-gray-100"
>

<div class="flex justify-center pb-4">
    <img
      src="/static/img/chloe.png"
      class="rounded-full w-16 h-16 mx-2 object-cover hover:rotate-3"
    />
    <img
      src="/static/img/belle.png"
      class="rounded-full w-16 h-16 mx-2 object-cover"
    />
    <img
      src="/static/img/charbar.png"
      class="rounded-full w-16 h-16 mx-2 object-cover"
    />
    <img
      src="/static/img/booshie.png"
      class="rounded-full w-16 h-16 mx-2 object-cover"
    />
  </div>
  <small class="text-gray-500"></small>
    Follow me on 
    <a href="https://www.instagram.com/quiltsandcats18/" target="_blank" class="underline underline-offset-4 text-blue-600 hover:text-blue-800 visited:text-purple-600">Instagram 🐱</a>
  </small>
</footer>
